In [1]:
import os 
os.getcwd()
#os.chdir('/home/user/')
os.getcwd()

'D:\\Ms in Data Analytics\\ResearchProject\\git-repo\\malicious-webpage-classification\\code'

In [1]:
import pandas as pd

In [2]:
benign_url_data = pd.read_csv("datasets/alexa_top1m/top-1m.csv", header=None, names=["SrNo","domain"])
benign_url_data.head()

   SrNo         domain
0     1     google.com
1     2    youtube.com
2     3   facebook.com
3     4      baidu.com
4     5  wikipedia.org

In [3]:
benign_url_data['URL'] = 'http://' + benign_url_data['domain'].astype(str)
benign_url_data.head()

   SrNo         domain                   URL
0     1     google.com     http://google.com
1     2    youtube.com    http://youtube.com
2     3   facebook.com   http://facebook.com
3     4      baidu.com      http://baidu.com
4     5  wikipedia.org  http://wikipedia.org

In [4]:
benign_url_data['URL_length'] = benign_url_data['URL'].str.len()
benign_url_data.head()

   SrNo         domain                   URL  URL_length
0     1     google.com     http://google.com          17
1     2    youtube.com    http://youtube.com          18
2     3   facebook.com   http://facebook.com          19
3     4      baidu.com      http://baidu.com          16
4     5  wikipedia.org  http://wikipedia.org          20

In [5]:
benign_url_data['domain_length'] = benign_url_data['domain'].str.len()
benign_url_data.head()

   SrNo         domain                   URL  URL_length  domain_length
0     1     google.com     http://google.com          17             10
1     2    youtube.com    http://youtube.com          18             11
2     3   facebook.com   http://facebook.com          19             12
3     4      baidu.com      http://baidu.com          16              9
4     5  wikipedia.org  http://wikipedia.org          20             13

In [22]:
# https://docs.python.org/3/library/urllib.parse.html

from urllib.parse import urlparse
def getURLattributes(url_str) : 
    parsed_uri = urlparse(url_str)
    #result = '{uri.scheme}://{uri.netloc}/'.format(uri=parsed_uri)
    #print(result)
    #return [parsed_uri.scheme, parsed_uri.netloc, parsed_uri.path,  parsed_uri.params, parsed_uri.query, parsed_uri.fragment]
    return  pd.Series({'scheme':parsed_uri.scheme, 'netloc':parsed_uri.netloc, 'params':parsed_uri.params, 'query': parsed_uri.query, 'fragment':parsed_uri.fragment})

In [29]:
#print(getURLattributes("https://docs.python.org/3/library/urllib.parse.html"))

#benign_url_data['URL'].map(getURLattributes).head()

benign_url_data = benign_url_data.merge(benign_url_data['URL'].apply(getURLattributes), left_index=True, right_index=True)

In [30]:
benign_url_data.head()

,SrNo,domain,URL,URL_length,domain_length,scheme,netloc,params,query,fragment
0,1,google.com,http://google.com,17,10,http,google.com,,,
1,2,youtube.com,http://youtube.com,18,11,http,youtube.com,,,
2,3,facebook.com,http://facebook.com,19,12,http,facebook.com,,,
3,4,baidu.com,http://baidu.com,16,9,http,baidu.com,,,
4,5,wikipedia.org,http://wikipedia.org,20,13,http,wikipedia.org,,,